<!-- Barra de navegacion -->
  <div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" [routerLink]="['/']">
        <img src="\assets\images\logo-ossian-header-white.png" width="180" height="50" class="d-inline-block align-top"
          alt="">
      </a>
      <div id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addImage']">Añadir imagen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/loadImages']">Cargar imagenes</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!--Fin de la barra de navegacion-->
  <router-outlet></router-outlet>

  <footer>
    <hr>
    <p>Aplicación CRUD - Santiago Cebrián Alarcón</p>
  </footer>